{% extends 'base.html' %} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Everything you need to know
      </p>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <p align="justify">
          <br /><br />
          Welcome to Device Hub, your ultimate destination for the latest in
          cutting-edge technology!<br /><br />
          At Device Hub, we are passionate about bringing you the newest and
          most innovative tech products. Whether you're in the market for
          high-performance PCs, sleek laptops, the latest cellphones, or
          versatile tablets, we have you covered with a carefully curated
          selection of top brands and the newest releases.<br /><br />
          Our mission is simple: to provide you with exceptional technology at
          competitive prices, coupled with outstanding customer service. We
          understand that technology is more than just gadgets—it is a part of
          your daily life. That is why we strive to offer not only the best
          products but also a seamless shopping experience that caters to your
          unique needs.<br /><br />
          Our team is dedicated to staying ahead of the curve, ensuring that you
          have access to the latest advancements and trends in technology. We
          are here to help you make informed decisions and find the perfect
          device that fits your lifestyle.<br /><br />
          Thank you for choosing Device Hub. We are excited to be a part of your
          tech journey and look forward to serving you!
          <br /><br /><br /><br /><br />
        </p>
      </div>
    </center>
  </div>
</div>
{% endblock %}
