{% extends 'base.html' %} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Categories</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Choose category below:
      </p>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <center>
      <div class="col-8" style="display: flex; flex-direction: column; align-items: center; gap: 20px;">
        <br>
        {% for category in categories %}
        <a href="{% url 'category' category %}" style="text-decoration: none; color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));"><h4>{{ category }}</h4></a>
        {% endfor %}
        <br><br>
      </div>
    </center>
  </div>
</div>
{% endblock %}
