{% extends 'base.html' %} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Profile Update</h1>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <center>
      <div class="col-md-4">
<br/><br/>
        Enter your credentials:
          <br /><br /> <br/>
          <form method="POST" action="{% url 'update_user' %}">
            {% csrf_token %}
            {{ user_form.as_p }}
            <br>
            <button type="submit" class="btn btn-secondary">
                Update Profile
            </button>
          </form>
          <br>
          <a href="{% url 'update_password' %}" class="btn btn-secondary">Update Password</a>
          <br /><br />
        </p>
      </div>
    </center>
  </div>
</div>
{% endblock %}
