{% extends 'base.html' %} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Personal Information</h1>
    </div>
  </div>
</header>
<br>
<div class="container">
  <div class="row">
      <div style="display: flex; justify-content: space-around;">
        <div class="bill-div" style="width: 40%;">
          <br />
          <p><b>Billing Information:</b></p>
          
          <form method="POST" action="{% url 'update_info' %}">
            {% csrf_token %}
            {{ form.as_p }}
          </div>
          <div class="ship-div" style="width: 40%; display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
            <p><b>Shipping Information:</b></p>
            {{ shipping_form.as_p }}
            <div class="button-container" style="display: flex; justify-content: flex-end; margin-top: auto;">
            <button type="submit" class="btn btn-secondary">
                Update Profile
            </button>
          </div>
          </form>
          <br>
        </p>
      </div>
      </div>
  </div>
</div>

{% endblock %}
