{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Order Details</h1>
      </div>
    </div>
  </header>
  <br>
<div class="container my-5" style="min-height: 37%;">
    <div class="card">
        <div class="card-header">
            <b>Order № {{ order.id }} <br>Amount Paid: ${{ order.amount_paid }}</b>
        </div>
        <div class="card-body">
        {% for item in items %}
            <b>{{ item.product }}</b>({{ item.quantity }}) - ${{ item.price }} (per item)
            <br>
        {% endfor %}

        </div>
      </div>
      <br>
      <a href="{% url 'order_history' %}" class="btn btn-secondary">Go Back</a>
</div>
<br><br>
{% endblock %}
