{% extends 'base.html' %} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Order Process</h1>
    </div>
  </div>
</header>
<br />
<div class="container" style="min-height: 46%;">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
              <strong>
                Order Summary
              </strong>
              </div>
              <div class="card-body">
                  {% for product in cart_products %}
                  <b> {{ product.name }}: </b>
                      {% if product.is_sale %} 
                      <b> ${{ product.sale_price }} </b>
                      {% else %}
                      <b> ${{ product.price }} </b>
                      {% endif %}
                      <br>
                      Quantity: 
                      {% for key, value in quantities.items %}
                          {% if key == product.id|slugify %}
                              {{ value }}
                          {% endif %} 
                      {% endfor %}
                      <br><br>
                  {% endfor %}
                  <br>
                  <div class="total-checkout">
                  <p style="font-weight: bold; font-size: large; text-decoration: underline;">Total: <i class="fa-solid fa-dollar-sign"></i>{{ totals }}</p>
                  <a href="{% url 'cart_summary' %}" class="btn btn-outline-secondary">Back to Cart</a>
                  </div>
              </div>
            </div>
      </div>
      <div class="col-md-5 d-flex flex-column" style="height: 100%;">
            <div class="card flex-grow-1">
              <div class="card-header">
                  <strong>
                Shipping Information
                  </strong>
              </div>
              <div class="card-body" style="padding: 20px;">
                  {% csrf_token %}
                  Name: {{ shipping_info.shipping_full_name }}
                  <br>
                  Email: {{ shipping_info.shipping_email }}
                  <br>
                  Address 1: {{ shipping_info.shipping_address_1 }}
                  <br>
                  Address 2: {{ shipping_info.shipping_address_2 }}
                  <br>
                  City: {{ shipping_info.shipping_city }}
                  <br>
                  State: {{ shipping_info.shipping_state }}
                  <br>
                  ZipCode: {{ shipping_info.shipping_zipcode }}
                  <br>
                  Country: {{ shipping_info.shipping_country }}
                  <br><br>
                  <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Update Shipping Information</a>
              </div>
          </div>
          <br>
          <div class="card flex-grow-1">
            <div class="card-header">
                <strong>
              Billing Information
                </strong>
            </div>
            <div class="card-body" style="padding: 20px;">
              <form method="POST" action="{% url 'process_order' %}">
                {% csrf_token %}
              {{ billing_form.as_p }}
                <br>
            </div>
        </div>
          <br>
          <div class="mt-auto d-flex justify-content-end">
            <button type="submit" class="btn btn-success">Place Order</button>
          </form>
        </div>
      </div>
  </div>
</div>
<br><br>
{% endblock %}
